*{
    box-sizing: border-box;
}

body{
    background-color: rgb(139,35,35);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.top-tab{
    background-color: rgb(219,219,219);
    border: 5px solid rgb(35,34,39);
    border-radius: 16px;
    display: flex;
    width: 100%;
    column-gap: 2rem;
}

.logo{
    display: flex;
    max-width: 100%;
    margin: 0.5rem;

}

.Hero-txt{
    color: rgb(35,34,39);
    text-decoration: underline;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0.3rem;
}

.Entry-Ques{
    background-color: rgb(35,34,39);
    border: 2px groove rgb(219,219,219);
    border-radius: 6px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Question{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    margin-left: 0.4rem;
    color: rgb(219,219,219);
    font-weight: bolder;
}

.Answer{
    margin: 0.4rem;
    color: rgb(219,219,219);
    font-size: 1rem;
    font-weight:100;
    text-align: justify;
    font-size:small;
}

.property{
    margin:0.5rem;
    background-color: rgb(35, 34, 39);
    border: 2px groove rgb(219,219,219);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.side-heading{
    margin: 0.4rem;
    color: rgb(219, 219, 219);
}

.theory{
    margin: 0.2rem 0.4rem 0.2rem 0.4rem;
    color: rgb(219, 219, 219);
    text-align: justify;
    font-size: small;

}

.imp{
    margin: 0.2rem 0.4rem 0.2rem 0.4rem;
    color: rgb(219, 219, 219);
    font-size: small;

}

@media only screen and (max-width: 435px) {
    img{
        width: 6rem;
        height: auto;
    }

    h1{
        font-size:x-large;
    }
  }

@media only screen and (max-width: 345px) {
img{
    width: 6rem;
    height: auto;
}

h1{
    font-size:large;
}
}

